:root {
    --primary-color: #FFFDFA;
    --secondary-color: #B6CAE5;
    --colorful-text: #6E2E15;
    --text-color: #4A4A4A;
    --light-text: #606060;
    --border-color: #F1EEEA;
    --star-color: #F68F40;
    --dark-orange:#B4592A; 

  }
  
  body {
  font-family: "Helvetica Neue", sans-serif;
  background: var(--primary-color);
  justify-content: center;
}
/* 
Recipe hero section */
.recipe-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem;
  margin-right: 0%;
  font-size: 20px;
}

.recipe-textbox {
  margin-right: 5rem;
}
.recipe-title img {
  width: 15rem;
  display: block;
}
.recipe-img img {
  width: 100%;
  height: auto;
  padding-right: 1rem;
}
.recipe-icons {
  display: flex;
  gap: 2rem;
  color: var(--colorful-text);
  font-size: 1rem;
}

#clock {
  font-size: 1rem;
}

#level {
  font-size: 1rem;
}

.recipe-main {
  display:flex;
}
.main-ingredients-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--border-color);
  padding: 25.8%;
  margin-top: -3.7%;
}

.how-to-text img{
  grid-template-columns: repeat(2,1fr);
  width: 55%;
  margin: 15%;
} 

.checklist{
  background:var(--primary-color);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.stars-icon{
  padding: 10%;
  color: var(--dark-orange);
}