.suggestions{
    position: absolute;
    list-style: none;
    background-color: ivory;
    width: 100%;
    max-height: 10rem;
    overflow-y: auto;
    /* border: 1px solid #000; */
     z-index: 10;
    margin-top: 13rem;
    padding: 0;
    border-radius: 1.2rem;
}

.suggestions li{
   padding: 5%;
   cursor: pointer;
}
.suggestions li:hover{
  background-color: rgb(205, 205, 191);}