/* roots */
:root{
  --colorful-text: #6e2e15;
}
/* roots */
/* recipe */
.recipe-arrangement {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.recipe-box {
  width: 85%;
  height: 80%;
  background-color: ivory;
  padding: 7%;
  margin-top: 10%;
  margin-left: 7.5%;
  /* padding-bottom: 10%; */
  border-radius: 20px;
  box-shadow: 0px 6px 10px #555;
}

.recipe-box-title {
  display: flex;
  justify-content: space-between;
}

#star {
  margin-top: 2%;
  /* margin-right: %; */
 color: var(--colorful-text);
}

.recipe-box img {
  object-fit: cover;
  width: 119.8%;
  height: 200px;
  display: block;
  margin-top: -16.5%;
  margin-left: -9.8%;
  border-radius: 20px 20px 0 0;
}

.recipes p {
  margin-top: 2%;
  margin-left: -7%;
  font-size: 0.7rem;
}

.recipes h5 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 2%;
  margin-left: -7%;
  font-size: 1.4rem;
  /* display: flex; */
}

.clock-heart {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
#clock h6{
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
#clock {
  display: flex;
}
#heart {
  transform: translateX(95%);
  font-size: 2.3rem;
  color: var(--colorful-text);
  cursor: pointer;
  /* margin-top: 15%; */
}

#clock {
  font-size: 1.2rem;
  margin-left: -7%;
  color: var(--colorful-text);
}

#signal {
  font-size: 1.2rem;
  margin-left: -7%;
  color: var(--colorful-text);
}

#back-button {
  display: none;
}

/* recipe */

/* media-query */
@media screen and (min-width:360px) and (max-width:430px){
  
  .recipe-arrangement {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    margin-left: -5%;
  }
  .recipe-box {
    width: 96%;
    height: 90%;
    background-color: ivory;
    padding: 7%;
    margin-top: 10%;
    /* margin-left: 7.5%; */
    border-radius: 20px;}

    .recipe-box img {
      object-fit: cover;
      width: 117.8%;
      height: 200px;
      display: block;
      /* margin-top: -16.5%; */
      margin-left: -8.8%;
      border-radius: 20px 20px 0 0;
    }

    #heart {
      transform: translateX(50%);
      font-size: 2.3rem;
      color: var(--colorful-text);
      cursor: pointer;
      /* margin-top: 15%; */
    }

    #heart {
     display: none;
    }

    #star {
      margin-top: 2%;
      font-size: 1.2rem;
     color: var(--colorful-text);

    }

    #back-button {
      display: block;
      margin: 10px;
      font-size: 1rem;
    }
    
   #back-button a {
      text-decoration: none;
      color: #333;
    }
    
    #back-button i {
      margin-right: 5px;
    }
    

    .recipes h5 {
      margin-top: 2%;
      margin-left: -7%;
      font-size: 1.5rem;
      /* display: flex; */
    }
}
/* media-query */