body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  #playlist-preview {
    display: flex;
    border-radius: 10px;
  }
 
#music-icon {
    cursor: pointer;
    font-size: 2.5rem;
    margin-right: 2rem;
    margin-top: 1.2rem;
}
 #playlist-image{
   width: 40%;
 }
  